main {
  padding: 64px 12px;
  background-color: #ffffff;
}

.container1 {
  border: 2px solid red;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 0;
}
form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.leftarea {
  max-width: 756px;
  width: 100%;
}
.rightarea {
  /*border: 3px dotted navy;*/
  height: 318px;
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -20px;
}
.mytextarea {
  resize: none;
  width: 756px;
  height: 298px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  outline: none;
}
.leftarea textarea {
  padding: 23px 21px;
}
.rightarea input {
  outline: none;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background-color: #f8f8f8;
  width: 370px;
  height: 59px;
  padding-left: 19px;
}
.myemail {
  outline: none;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background-color: #f8f8f8;
  width: 370px;
  height: 59px;
}
.rightarea .mybutton {
  cursor: pointer;
  background-color: #5968f4;
}
